<section class="home-movies">
  <div class="Top">
    <h2 class="Title">Browse</h2>
    <div class="btnstp">
      <a
        data-tab="tab-1"
        class="Button STPb"
        [class.Current]="selectedTag == 'popular'"
        (click)="goToTag('popular')">
        POPULAR
      </a>
      <a
        data-tab="tab-2"
        class="Button STPb"
        [class.Current]="selectedTag == 'playing'"
        (click)="goToTag('playing')">
        NOW PLAYING
      </a>
      <a
        data-tab="tab-3"
        class="Button STPb"
        [class.Current]="selectedTag == 'rated'"
        (click)="goToTag('rated')">
        TOP RATED
      </a>
      <a
        data-tab="tab-4"
        class="Button STPb"
        [class.Current]="selectedTag == 'upcoming'"
        (click)="goToTag('upcoming')">
        UPCOMING
      </a>
    </div>
  </div>
</section>
