<header>
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-between">
        <jx-header-logo/>
        <span class="MenuBtn" data-tgl="aa-wp"> <i></i><i></i><i></i> </span>
        <div class="right">
          <div class="search">
            <form>
              <span class="form-icon">
                <input
                  type="text"
                  name="s"
                  placeholder="Search..."
                  autocomplete="off" />
                <button type="submit"><i class="fa fa-search"></i></button>
                <!--                <div-->
                <!--                  class="ep-autosuggest">-->
                <!--                  <div class="p-2">Loading...</div>-->
                <ng-container>
                  <!--                   TODO: Add Media Small Card -->
                </ng-container>
                <!--                </div>-->
              </span>
            </form>
          </div>
          <div class="login">
            <button class="btn btn-link">Log In</button>
            <button class="btn btn-primary">Register</button>
          </div>
          <nav class="menu">
            <ul class="clearfix">
              <jx-menu-item name="Home" />
              <jx-genre-dropdown />
              <jx-movie-dropdown />
              <jx-menu-item name="Series" />
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
