<header>
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-between">
        <jx-header-logo/>
        <span class="MenuBtn" data-tgl="aa-wp"> <i></i><i></i><i></i> </span>
        <div class="right">
         <jx-searchbar class="searchbar"/>
          <jx-login-buttons class="login"/>
          <nav class="menu">
            <ul class="clearfix">
              <jx-menu-item name="Home" />
              <jx-genre-dropdown />
              <jx-movie-dropdown />
              <jx-menu-item name="Series" />
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
