<header>
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center justify-content-between">
        <figure class="logo">
          <a>
            <img class="logo-image" src="./assets/logo.png" alt="" />
          </a>
        </figure>
        <span class="MenuBtn" data-tgl="aa-wp">
          <i></i><i></i><i></i>
        </span>
        <div class="right">
          <div class="search" >
            <form>
              <span class="form-icon">
                <input
                  type="text"
                  name="s"
                  placeholder="Search..."
                  autocomplete="off"
             />
                <button type="submit"><i class="fa fa-search"></i></button>
<!--                <div-->
<!--                  class="ep-autosuggest">-->
<!--                  <div class="p-2">Loading...</div>-->
                  <ng-container>
<!--                   TODO: Add Media Small Card -->
                  </ng-container>
<!--                </div>-->
              </span>
            </form>
          </div>
          <div class="login">
            <button class="btn btn-link">
              Log In
            </button>
            <button class="btn btn-primary">Register</button>
          </div>
          <nav class="menu">
            <ul class="clearfix">
              <li class="menu-item">
                <a
                >Home</a
                >
              </li>
              <li class="menu-item has-children">
                <a>Genres</a>
<!--                TODO : Refactor this dropdown list into a component-->
                <ul class="sub-menu">
<!--                 // TODO : Add list of Genres -->
                </ul>
              </li>
<!--               TODO : Refactor this dropdown list into a component-->
              <li class="menu-item has-children one-row">
                <a>Movies</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a>Now Playing</a>
                  </li>
                  <li class="menu-item">
                    <a>Ranking</a>
                  </li>
                  <li class="menu-item">
                    <a>Top Rated</a>
                  </li>
                  <li class="menu-item">
                    <a >Trending</a>
                  </li>
                  <li class="menu-item">
                    <a>Most Popular</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a>Series</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
