<footer class="ft ok">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="dfxb">
          <figure class="logo-ft">
            <img
              class="logo-image"
              src="./assets/logo.png"
              alt="CineMates"/>
          </figure>
          <nav class="dfxb">
            <ul class="mnft dfxb">
              <li class="menu-item">
                <a href="#">Disclaimer</a>
              </li>
              <li class="menu-item">
                <a href="#">DMCA</a>
              </li>
              <li class="menu-item">
                <a href="#">CineMates</a>
              </li>
              <li class="menu-item">
                <a href="#">CineMates Online</a>
              </li>
            </ul>
            <ul class="smft d-flex justify-content-between">
              <li>
                <a
                  href="https://github.com/android-battalion/cinemates-compose"
                  class="fa fa-android"></a>
              </li>
              <li>
                <a
                  href="https://github.com/jxareas/cinemates"
                  class="fa fa-github"></a>
              </li>
            </ul>
          </nav>
        </div>
        <p class="copy tac">
          This product uses the TMDB API but is not endorsed or certified by
          TMDB.
        </p>
        <h5 class="copy tac">Developed by Jon Areas</h5>
      </div>
    </div>
  </div>
</footer>
