.btnstp {
  white-space: nowrap;
  overflow: auto;
  max-width: 100%;
}

section {
  margin-bottom: 4rem;

  > .Top {
    > .btnstp {
      display: inline-block;
      vertical-align: top;

      > .Button.STPb {
        background-color: transparent;
        padding: 0.5rem 0;
        border-radius: 0;
        margin-right: 1.5rem;
        vertical-align: top;
        color: #4f6b95;
        border-bottom: 3px solid transparent;
        &:last-child {
          margin-right: 0.2rem;
        }
        &.Current {
          color: #fff;
          border-bottom-color: #edb709;
          font-weight: 700;
        }
      }


    }

    > h1:last-child {
      margin-right: 0;
    }

    > h1 span {
      color: #007aff;
    }

  }

  .Top {
    margin-bottom: 2rem;

    .Title {
      margin: 0 0 1.25rem;
    }

    h1,
    .Title {
      font-size: 2.05rem;
      line-height: 3.5rem;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0;
      margin-right: 1.5rem;
      color: #fff;
      letter-spacing: -1px;
    }
  }
}
