<div class="post p-small">
  <a [routerLink]="['/details', movie.id, 'movie']">
    <div class="image">
      <span class="year">{{
        movie.release_date || movie.first_air_date | date : 'yyyy'
      }}</span>
      <figure>
        <img
          class="thumbnail"
          [style.visibility]="movie.poster_path ? 'visible' : 'hidden'"
          [src]="
            movie.poster_path
              ? 'https://image.tmdb.org/t/p/w300' + movie.poster_path
              : ''
          "
          alt="" />
      </figure>
    </div>
    <h2 class="title">
      {{ movie.title || movie.name }}
    </h2>
  </a>
  <p class="Info">
    <span class="Vote">{{ movie.vote_average | jxRound : 1 }}</span>
    <!-- <span class="Time">3h 2m</span> -->
    <span class="Date">{{ movie.release_date | date : 'yyyy' }}</span>
    <span class="Qlty">HD</span>
  </p>
</div>
