<div class="search">
  <form>
              <span class="form-icon">
                <input
                  type="text"
                  name="s"
                  placeholder="Search..."
                  autocomplete="off" />
                <button type="submit"><i class="fa fa-search"></i></button>
                <!--                <div-->
                <!--                  class="ep-autosuggest">-->
                <!--                  <div class="p-2">Loading...</div>-->
                <ng-container>
                  <!--                   TODO: Add Media Small Card -->
                </ng-container>
                <!--                </div>-->
              </span>
  </form>
</div>
